/*Rules for sizing the icon*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.header {
    
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.header h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.detailed-photo .like-button {
    cursor: pointer;
    margin-bottom: 10px;
  }
  